@page "/Projects/ReadingLogs/{Id}/status"

<a href="/Projects/ReadingLogs" class="btn btn-primary">Back</a>

<h3>LogStatusPage @Id </h3>

@code {
    [Parameter]
    public string Id { get; set; }

}
