@page "/Projects"

<h3>ProjectsPage</h3>

<ul>
    <li>
        <a href="/Projects/SqlGenerator">SQL Generator</a>
    </li>
    <li>
        <a href="/Projects/ReadingLogs">Reading Logs</a>
    </li>
</ul>





@code {

}
